// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#top-session-form-input {
  border-top: none;
}


.session-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  .animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}


.session-form {
  input {
    font-size: 16px;
  font-weight: 200;
  max-width: 240px;
  min-width: 240px;
  display: block;
  text-decoration: none;
  border-radius: 2px;
  padding: 8px 0px 8px 0px;
  box-sizing: border-box;
  margin-bottom: 8px;
  }
  .session-page-form-logo {
    margin-bottom: 15px;
  }
}

[class*="-button"] {
  font-size: 16px;
  font-weight: 550;
  max-width: 298px;
  min-width: 298px;
  min-height: 45px;
  display: block;
  text-decoration: none;
  border-radius: 2px;
  padding: 13px 0px 8px 0px;
  margin-bottom: 12px;
  box-sizing: border-box;
  text-align: center;
  border: 0px !important; 
  
  &:hover {
    cursor: pointer;
  }
 
}

.session-page-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 250px;
  
  .session-page-form-logo {
    font-family: 'logoFont';
    font-size: 75px;
    font-weight: bold;
    letter-spacing: -1.5px;

  }
  
  .session-page-slogan {
    p {
      font-size: 16px;
      font-weight: 350;
      line-height: 8px;
      margin-top: 4px;
      margin-bottom: 15px;
    }
    text-align: center;
  }
  
  .signup-button{
    background-color: #559FCA;
    color: #fff;
    font-weight: bold;
    &:active {
      color: #e3ecf3;
      color: rgba(255,255,255,0.8);
      background: #4e96c2;
      border-color: #4e96c2;
      }
  }

  .session-submit-button {
    background-color: #559FCA;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    &:active {
      color: #e3ecf3;
      color: rgba(255,255,255,0.8);
      background: #4e96c2;
      border-color: #4e96c2;
      }
  }
  
  .login-button {
    background-color: #FFFFFF;
    color: #444444;
  }

  input {
  font-size: 16px;
  font-weight: 250;
  max-width: 298px;
  min-width: 298px;
  min-height: 45px;
  display: block;
  text-decoration: none;
  padding: 11px 0px 8px 0px;
  box-sizing: border-box;
  margin-bottom: 0px;
  padding-left: 8px;
  outline: none;
  margin-top: -2px;
  border: 0px;
  border-top: 1px solid #e3e3e3;
  }
  
  
  .session-form-error-container {
    margin-top: 15px;
    list-style-type: none;
    max-width: 300px;
    border-radius: 2px;
    padding: 0;

   
  }

  .session-form-error {
    background: rgba(0,0,0,0.33);
    font-size: 14px;
    display: block;
    border-radius: 2px;
    padding: 14px 15px;
    margin-bottom: 1px;
    box-sizing: border-box;
    text-align: center;
  }

}


.demo-button {
  background-color: #559FCA;
  color: #fff; 
  &:hover {
    animation: rainbow 1.75s infinite; 
  }
  &:active {
    background: #4e96c2;
    border-color: #4e96c2;
    animation-play-state: paused;

    }
}

.personal-icons {
  bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 55px;
  width: 300px;

  position: absolute;
  bottom: -220px;
  i {
    &:hover {
      color: #559FCA;
    }
    &:active {
      color: #4e96c2;
    }
    margin: 5px;
    color: rgba(0,0,0, .93);
    &:visited {
      color: rgba(0,0,0, .93);
    }
  }
}

.portfolio {
  i {
    max-height: 30px;
  }
}


// source https://codepen.io/cabron/pen/OVXXmj
@keyframes rainbow{
  5%{color: red;}
  35%{color: yellow;}
  65%{color: green;}
  85%{color: blue;}
  0%{color: orange;}	
}


@keyframes play {
	100% { background-position: -1008px; }
}

.session-form-animation {
  animation: aboutTumblrIntro .7s ease-out .5s;
 animation-name: aboutTumblrIntro;
 animation-duration: 0.7s;
 animation-timing-function: ease-out;
 animation-delay: 0.5s;
 animation-iteration-count: initial;
 animation-direction: initial;
 animation-fill-mode: backwards;
 animation-play-state: initial;
 animation-fill-mode: backwards;
}