.main-feed-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  max-width: 990px;
  min-width: 990px;

  background-color: transparent;
  padding:  92px 5px 0 5px;

  margin: 0 auto;


}

.main-content {
  position: relative;
  left: 85px;
}

.col-1 {
  display: flex;
  flex-direction: column;
}

.col-2 {
  display: flex;
  flex-direction: column;
}

.main-content-feed-avatar {

  display: block;
  height: 64px;
  width: 64px;
}