.post-form-container {
  // margin: 0 auto;
  width: 540px;

  background: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input, textarea {
    width: 540px;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 20px;
  }
  textarea {

    box-sizing: border-box;
    height: 70px;
    width: 540px;
    resize: none;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

.file-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photo-upload-cells {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 540px;
  height: 200px;
  background: #f2f2f2;
  color:#989898;
  border-top: 3px dotted #989898;
  border-bottom: 3px dotted #989898;
  overflow: hidden;
}

.large-dropzone {
  height: 200px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-right: 1px solid #989898;

  .file-upload-icon {
    user-select: none;
    font-family: 'icon-font';
    font-size: 60px;
    height: 45px;
    width: 45px;
    position: relative;
    top: -18px;
    left: -9px;
  }
}

.small-dropzone {
  height: 40px;
  width: 540px;
  .file-upload-icon {
    user-select: none;
    position: relative;
    font-family: 'icon-font';
    font-size: 24px;
    height: 20px;
    width: 20px;
    top: 7px;
    left: -59px;
    span {
      width: 100px;
      display: inline-block;
      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
      font-size: 17px;
      position: relative;
      top: -26px;
      right: -30px;
    }
  }
};

.photo-url-upload {
  height: 200px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .file-upload-icon {
    font-family: 'icon-font';
    font-size: 60px;
    height: 45px;
    width: 45px;
    position: relative;
    top: -18px;
    left: -9px;
  }
}

.selfie-upload {
  z-index: 3;

  &:hover {
    cursor: pointer;
  }
  #video {

  }
}

.photo-upload-preview {
  display: block;
  width: 540px;
  height: auto;
  
}

.small-photo-upload-cell {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 540px;
  background: #f2f2f2;
  color:#989898;
  border-top: 3px dotted #989898;
  border-bottom: 3px dotted #989898;
  overflow: hidden;

}

.hidden-photo-upload {
  display: none;
}

.submit-button {
  // margin-bottom: 45px;
  // padding: 124px;
  background-color: #559FCA;
  color: white;
  z-index: 40;
  font-size: 25px;
  font-weight: 700;
  max-width: 298px;
  min-width: 298px;
  min-height: 45px;
  line-height: 4;
  display: block;
  text-decoration: none;
  padding: 0 !important;
  box-sizing: border-box;
  text-align: center;
  border: 0px !important; 
  min-width: 540px;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 20px;
  line-height: 53px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0 auto;
  &:disabled {
    background-color: #989898;
  }
  &:hover {
    cursor: pointer;
  }  
}

.post-nav-header-container {
  border-radius: 3px;
}

.file-upload {
  border: none;
}
.upload-text {
  font-size: 20px;
}
.audio-upload, .video-upload {
  border: none;
  color:#989898;
  background-color: rgb(242, 242, 242);

  * {
    
    border-right: none !important;
  }
}