.new-post-nav { 
  font-family: 'icon-font';
  font-size: 48px;

  max-width: 540px;
  min-width: 540px;
  max-height: 90px;
  min-height: 90px;
  border-radius: 3px;

  display: flex;
  flex-direction: row;

    background-color: white;
  
  a {
    text-decoration: none;
    width: 75px;
    opacity: 0.9;
    background: transparent url(/images/post_type_div.png) no-repeat right center;
  
    &:hover {
      transform: translateY(0px) scale(1);
    }
  }
  span {
    text-decoration: none;
    font-size: 15px;
    display: block;
    width: 75px;
    text-align: center;
    color: #787878;
  }

  [class^=logo-] {
    padding: 0 14px;
    margin: 0 auto;
    font-size: 48px;
    text-align: center;
    line-height: 62px;
    transition-property: line-height;
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-delay: 0s;
  }
}

.logo-text {
  color: #444;
}

.logo-photo {
  color: #d95e40;
}

.logo-quote {
  color: #f2992e;
}

.logo-link {
  color: #56bc8a;
}

.logo-chat {
  color: #529ecc;
}

.logo-audio {
  color: #a77dc2;
}

.logo-video {
  color: #748089;
}
