// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  top: 75px;
  width: 540px;

  margin: 0 auto;

  border-radius: 3px;
  background-color: white;
  color: #444444;
  margin-bottom: 20px;
}

.photoset-photo img {
  min-width: 540px;
  max-width: 540px;
  display: block;
  margin: 0 auto;
  height: auto;
}

.post-header {
  height: 45px;
  padding: 0 20px 0 20px;
  
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  span {
    position: absolute;
    left: 20px;
  }
  a {
    text-decoration: none;
    color: #444444;

    &:visited {
      color: #444444;

    }
  }
}
.post-media {
  
}
.post-title {
  font-size: 16px;
  padding: 20px 20px 0 20px;

}
.post-body {
  font-size: 16px;
  padding: 0 20px 0 20px;
}

.text-post-body, .text-post-body *  {
  max-width: 540px;
  box-sizing: border-box;
  padding: 0px 20px 0px 20px;
}

.text-post-body {
    width: 540px;
  overflow: auto; 
  font-size: 16px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-wrap: normal;
  // display: flex;
  flex-direction: column;
  * {
    // display: inline-block;
    overflow-wrap: break-word;
    height: 100%;
    width: 520px;
    white-space: normal;
    word-wrap: normal;
  }
  // padding: 0 20px 0 40px;
}

.post-bottom-nav {
  height: 45px;
  padding: 0 20px 0 20px;
  z-index: 50;
  // font-family: 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .post-bottom-nav-icons {
    text-align: right;
    white-space: nowrap;
    display: table-cell;
    width: 100%;
    line-height: 0;
    vertical-align: top;
    box-sizing: border-box;
    // display: flex;
    flex-direction: row;
    justify-content: space-between;
    .post-control {
      z-index: 50;

      top: 13px;
      font-family: 'icon-font';
      font-size: 30px;
      margin: 10px 0 10px 12px;
      display: inline-block;
      position: relative;
      text-align: left;
      height: 24px;
      width: 24px;
      cursor: pointer;
    }
  }
}

.post-and-avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 655px;
  margin: 0 auto;
  right: 95px;
  height: 100%;
}
.post-avatar {
  width: 65px;

  position: relative;
  top: 60px;
  // right: 15px;
  // margin-right: 20px;

  margin-top: 15px;
  margin-bottom: 4px;
  padding: 0 5px;
  a  {
    height: 65px;
    top: 61px;
  }
  img {
    width: 65px;
    height: 65px;
    position: sticky;
    top: 61px;



    border-radius: 5px;
  }
}

.user-profile-left {
  left: -40px;
}