// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 75px;
  width: 540px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: white;
  color: #444444;
}

.photoset-photo img {
  min-width: 540px;
  max-width: 540px;
  display: block;

  height: auto;
}