/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

body {
  -webkit-font-smoothing: antialiased;

  background-color: #37455C;
  color: #FFFFFF;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}


.header {
  display: flex;
  flex-direction: row;
}

.session-form {
  input {
    font-size: 14px;
  font-weight: 200;
  max-width: 240px;
  min-width: 240px;
  display: block;
  text-decoration: none;
  border-radius: 2px;
  padding: 8px 0px 8px 0px;
  box-sizing: border-box;
  margin-bottom: 8px;
  }
  .session-page-form-logo {
    margin-bottom: 15px;
  }
}

[class*="-button"] {
  font-size: 14px;
  font-weight: 450;
  max-width: 240px;
  min-width: 240px;
  display: block;
  text-decoration: none;
  border-radius: 2px;
  padding: 8px 0px 8px 0px;
  margin-bottom: 12px;
  box-sizing: border-box;
  text-align: center;
}

.session-page {
  background-position: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.session-page-form {
  margin-top: -180px;
  min-width: 289px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  .session-page-form-logo {
    // font-family: 'Bookman Old Style Bold';
    // font-size: 60px;
    // font-weight: bold;

    background-image: image-url('Logo.png');
    background-repeat: no-repeat;
    background-size: 60% auto;
    height: 50px;
    width: 100%;
    background-position: center;
  }
  
  .session-page-slogan {
    p {
      font-size: 12px;
      font-weight: 500;
    }
    text-align: center;
  }
  
  .signup-button {
    background-color: #559FCA;
    color: #fff;
  }
  
  .login-button {
    background-color: #FFFFFF;
    color: #444444;
  }
  .demo-button {
    background-color: #559FCA;
    color: #fff; 
    &:hover {
      animation: rainbow 1.75s infinite; 
    }

  }
  // source https://codepen.io/cabron/pen/OVXXmj
  @keyframes rainbow{
    5%{color: red;}
    35%{color: yellow;}
    65%{color: green;}
    85%{color: blue;}
    0%{color: orange;}	
  }
}


.header-logo {
  width: 21px;
  height: 35px;
  background: url('https://assets.tumblr.com/images/logo/hover-animations/2.png') left center;
  &:hover {
    animation: play 1.4s steps(48) infinite;
  }
}

@keyframes play {
	100% { background-position: -1008px; }
}

.session-form-animation {
  animation: aboutTumblrIntro .7s ease-out .5s;
 animation-name: aboutTumblrIntro;
 animation-duration: 0.7s;
 animation-timing-function: ease-out;
 animation-delay: 0.5s;
 animation-iteration-count: initial;
 animation-direction: initial;
 animation-fill-mode: backwards;
 animation-play-state: initial;
 animation-fill-mode: backwards;
}