.bg-0 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/bMlYVw8.jpg');
}
.bg-1 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/VxzWhjc.png');
}
.bg-2 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/JM8Lc6M.gif');
}
.bg-3 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/IPqDaba.jpg');
}
.bg-4 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/Mjdum7l.jpg');
}
.bg-5 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/RpByB6m.png');
}
.bg-6 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/SO8OwOZ.gif');
}
.bg-7 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/KPHZvIp.gif');
}
.bg-8 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/sPheAG1.jpg');
}
.bg-9 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/bMlzZAJ.gif');
}
.bg-10 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/92CcLcD.jpg');
}
.bg-11 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/vfdiVyS.jpg');
}
.bg-12 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/5AwVKbd.jpg');
}
.bg-13 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/KLfGtoR.jpg');
}
.bg-14 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/8ZbHQZi.jpg');
}
.bg-15 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/qkGi1P1.jpg');
}
.bg-16 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/UoGHlKe.jpg');
}
.bg-17 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/U7AMQGR.png');
}
.bg-18 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.20), rgba(0, 0, 0, 0.20)), url('https://i.imgur.com/0LSpAZn.jpg');
}