// ALWAYS UPDATE THE SESION PAGE LOGIN PAGE 404 PAGE AND SIGN UP PAGES

.bg-0 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/bMlYVw8.jpg');
}
.bg-1 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/VxzWhjc.png');
}
.bg-2 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/JM8Lc6M.gif');
}
.bg-3 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/IPqDaba.jpg');
}
.bg-4 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/Mjdum7l.jpg');
}
.bg-5 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/RpByB6m.png');
}
.bg-6 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/SO8OwOZ.gif');
}
.bg-7 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/KPHZvIp.gif');
}
.bg-8 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/sPheAG1.jpg');
}
.bg-9 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/bMlzZAJ.gif');
}
.bg-10 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/92CcLcD.jpg');
}
.bg-11 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/vfdiVyS.jpg');
}
.bg-12 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/5AwVKbd.jpg');
}
.bg-13 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/KLfGtoR.jpg');
}
.bg-14 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/8ZbHQZi.jpg');
}
.bg-15 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/qkGi1P1.jpg');
}
.bg-16 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/UoGHlKe.jpg');
}
.bg-17 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/U7AMQGR.png');
}
.bg-18 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/0LSpAZn.jpg');
}
.bg-19 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/9jH9We6.gif');
}
.bg-20 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/4nRnd1w.gif');
}
.bg-21 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/OyBTGRZ.gif');
}
.bg-22 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/n9zj0bD.gif');
}
.bg-23 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/LgF1idb.gif');
}
.bg-24 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/TA5zjnl.gif');
}
.bg-25 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/Xa9Ygcu.gif');
}
.bg-26 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/yidzJt3.gif');
}
.bg-27 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/pXboGqO.gif');
}
.bg-28 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/pOhwoxK.gif');
}
.bg-29 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/P6QfICy.gif');
}
.bg-30 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/GBvhdXO.jpg');
}
.bg-31 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/moPbf0W.jpg');
}
.bg-32 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/FbMhfyO.png');
}
.bg-33 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/nZxS3lb.jpg');
}
.bg-34 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/MCf6W2X.gif');
}
.bg-35 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/ZQzrVDO.gif');
}
.bg-36 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/g1ALb1X.jpg');
}
.bg-37 {
  background-image:  linear-gradient(rgba(7, 8, 9, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/h2Bbkxh.gif');
}
