.main-feed-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  max-width: 990px;
  min-width: 990px;

  background-color: transparent;
  padding:  92px 5px 0 5px;



}