.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 75px;
  width: 540px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: white;
  color: #444444 !important
}