
.searchbar {

  position: relative;
  padding-right: 0;
  overflow: hidden;
  height: 100%;
  width: auto;
  margin: 0;
  top: -2px;
  left: 15px;
  max-width: 540px;
  margin-top: 15px;
  outline: none;

  transition: background .15s,color .15s;
  color: hsla(0,0%,100%,.6);
  background: rgba(0,0,0,.13);

  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 39px;
  font-weight: 600;
  line-height: inherit;
  font-size: 15px;
  height: 34px;
  width: 540px;
  border: 0;
  border-radius: 3px;
  margin-top: 10px;


  &:focus {
    background-color: white;
    color: black;
    &::placeholder {
      color: #8F8F8F;
    }
  }

  &::placeholder {
    color: hsla(0,0%,100%,.6);
  }

}

.searchbar-icon {
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 71px;
  top: 21px;
  font-size: 20px;
  z-index: 3;
}
.searchbar:focus ~ i {
  color: #8F8F8F;
}