.user-profile-info-container {
  background: white;
  border-radius: 3px;

  max-width: 540px;
  height: 150px;
  position: relative;
  top: 95px;
  margin: 0 auto;
  margin-bottom: 60px;

  ul {
    color: #444444;
    display: flex;
    flex-direction: column;

    position: relative;
    bottom: 120px;
    left: 155px;
  }
  img {
    border-radius: 3px;
    position: relative;
    left: 10px;
    top: 10px;
  }
}

.user-profile-info {
  width: 380px;
  li:first-child {
    font-weight: bold;
  }
}