.user-profile-info-container {
  background: white;
  border-radius: 3px;

  max-width: 540px;
  height: 282px;
  position: relative;
  top: 95px;
  // margin: 0 auto;
  margin-bottom: 60px;

  display: flex;
  flex-direction: row;


  .large-avatar {
    border-radius: 0px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    max-width: 128px;
  }

  .user-profile-nav { 
    
    ul {
      color: #444444;
      display: flex;
      flex-direction: column;

      position: relative;
      bottom: 120px;
      left: 155px;
    }
    img {
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      position: relative;
      left: 10px;
      top: 10px;
    }
  }
}

.user-profile-info {
  position: relative;
  left: 10px;
  margin-left: 12px;
  color: #444444;
  width: 380px;
  height: 100%;
  li {
    position: relative;
    top: 12px;
  }
  li:first-child {
    font-weight: bold;
  }
}


.following-switcher, .likes-link, .followers-link, .followed-users-link {

  font-size: 16px;
  font-weight: 550;
  text-decoration: none;
  padding: 9px 0px 9px 0px;
  box-sizing: border-box;
  text-align: center;
  border: 0px !important; 

  user-select: none;

  position: relative;
  top: 7px;
  left: 10px;
  z-index: 80;
  max-width: 128px;
  min-width: 128px;
  width: 64px;
  border-radius: 0px;
  background-color: #559FCA;
  color: white;
  outline: none;

  a {
    display: block;
    text-decoration: none;
    color: white;
    &:visited {
      color: white;
    }
  }
  &:active {
    outline: none;
    background-color: #4e96c2;
    color: #e3ecf3;
  }
  &:hover {
    cursor: pointer;
  }
}
.followed-users-link {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  display: block;
}

.user-profile-info-container-container {
  position: relative;
  bottom: 13px;
}

.likes-link, .followers-link, .followed-users-link {
  display: block;
}

.user-profile-container {
  position: relative;
  bottom: 81px;
  &.not-empty {
    left: 110px;
  }

}

.following-switcher, .likes-link, .followers-link, .followed-users-link {
  -o-transition:.45s;
  -ms-transition:.45s;
  -moz-transition:.45s;
  -webkit-transition:.45s;
  transition:.45s;
}
.user-profile-nav .following-switcher:hover {
  background-color: rgba(190, 22, 22, 0.801);
}
.likes-link:hover {
  background-color: rgba(248, 23, 154, 0.584);
}
.followed-users-link:hover {
  background-color: rgba(248, 66, 25, 0.856);
}
.followers-link:hover {
  background-color: rgba(116, 211, 33, 0.788);
}